<div class="center jumbotron ">
<%# <div class="home-not-wrapper "> %>
    <h1>RailsStudyで学ぼう!!</h1>

    <h2>
      Railsコミュニティーを広げよう!!
    </h2>

    <%= link_to "サインアップ！！", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<div class="link-wrapper">
  <div class="link-child">
    <%= link_to image_tag("IMG_0798.jpeg", alt: "ネットワーク", width: "200px",height: "200px"),"https://rubyonrails.org/" %>
    <p>ネットワークを学ぼう</p>
  </div>
  <div class="link-child">
    <%= link_to image_tag("Ruby.png", alt: "Ruby", width: "200px",height: "200px"),"https://rubyonrails.org/" %>
    <p>Rubyを学ぼう</p>
  </div>
  <div class="link-child">
    <%= link_to image_tag("JavaScript.jpg", alt: "Ruby", width: "200px",height: "200px"),"https://rubyonrails.org/" %>
    <p>JavaScriptを学ぼう</p>
  </div>
</div>
